DATABASE_URL="postgresql://user:password@localhost:5432/trading-online"

DIRECT_URL="postgresql://postgres:password@localhost:5432/trading-online"


# Run this `openssl rand -base64 32` to generate a secret
AUTH_SECRET="replace-with-openssl-rand-base64-32"

EDGE_RATE_LIMITING_CONFIGURED=true

# NEXT_PUBLIC_SITE_URL is the preferred production URL source
# NEXT_PUBLIC_SITE_URL="https://tradingguide.com.au"
# TESTING
NEXT_PUBLIC_SITE_URL="https://tradingonline.vercel.app"

# Falls back to NEXTAUTH_URL for compatibility with
NEXTAUTH_URL="http://localhost:3000"

NEXT_PUBLIC_GA_MEASUREMENT_ID=G-GYDR9G64W4

NEXT_PUBLIC_ANALYTICS_ENABLED=false